@use "sass:string";

$colorList: (
  "primary": "primary-color",
  "primary-hover": "primary-color-hover",
  "primary-10": "primary-color-10",
  "primary-50": "primary-color-50",
  "secondary": "secondary-color",
  "secondary-hover": "secondary-color-hover",
  "secondary-10": "secondary-color-10",
  "secondary-50": "secondary-color-50",
  "success": "success-color",
  "success-hover": "success-color-hover",
  "success-10": "success-color-10",
  "success-50": "success-color-50",
  "warning": "warning-color",
  "warning-hover": "warning-color-hover",
  "warning-10": "warning-color-10",
  "warning-50": "warning-color-50",
  "error": "error-color",
  "error-hover": "error-color-hover",
  "error-10": "error-color-10",
  "error-50": "error-color-50",
  "info": "info-color",
  "info-hover": "info-color-hover",
  "info-10": "info-color-10",
  "info-50": "info-color-50",
  "neutral-black": "neutral-black-color",
  "neutral-black-hover": "neutral-black-color-hover",
  "neutral-black-10": "neutral-black-color-10",
  "neutral-black-50": "neutral-black-color-50",
  "primary-grey": "primary-grey-color",
  "primary-grey-hover": "primary-grey-color-hover",
  "primary-grey-10": "primary-grey-color-10",
  "primary-grey-50": "primary-grey-color-50",
  "medium-grey": "medium-grey-color",
  "medium-grey-hover": "medium-grey-color-hover",
  "medium-grey-10": "medium-grey-color-10",
  "medium-grey-50": "medium-grey-color-50",
  "light-grey": "light-grey-color",
  "light-grey-hover": "light-grey-color-hover",
  "light-grey-10": "light-grey-color-10",
  "light-grey-50": "light-grey-color-50",
  "pale-grey": "pale-grey-color",
  "pale-grey-hover": "pale-grey-color-hover",
  "pale-grey-10": "pale-grey-color-10",
  "pale-grey-50": "pale-grey-color-50",
  "pale-grey-200": "pale-grey-200-color",
  "pale-grey-200-hover": "pale-grey-200-color-hover",
  "pale-grey-200-10": "pale-grey-200-color-10",
  "pale-grey-200-50": "pale-grey-200-color-50",
  "pale-grey-100": "pale-grey-100-color",
  "pale-grey-100-hover": "pale-grey-100-color-hover",
  "pale-grey-100-10": "pale-grey-100-color-10",
  "pale-grey-100-50": "pale-grey-100-color-50",
  "pale-grey-75": "pale-grey-75-color",
  "pale-grey-75-hover": "pale-grey-75-color-hover",
  "pale-grey-75-10": "pale-grey-75-color-10",
  "pale-grey-75-50": "pale-grey-75-color-50",
  "neutral-white": "neutral-white-color",
  "neutral-white-hover": "neutral-white-color-hover",
  "neutral-white-10": "neutral-white-color-10",
  "neutral-white-50": "neutral-white-color-50",
  "neutral-white-75": "neutral-white-75-color",
  "neutral-white-75-hover": "neutral-white-75-color-hover",
  "neutral-white-75-10": "neutral-white-75-color-10",
  "neutral-white-75-50": "neutral-white-75-color-50",
);

@mixin color-styling-hooks($type: "color", $prefix) {
  $property: #{$type};

  @if ($type == "background") {
    $property: background-color;
  } @else if ($type == "border") {
    $property: border-color;
  } @else if ($type == "fill") {
    $property: fill;
  } @else if ($type == "stroke") {
    $property: stroke;
  } @else if ($type == "accent") {
    $property: accent-color;
  } @else if ($type == "caret") {
    $property: caret-color;
  } @else if ($type == "decoration") {
    $property: text-decoration-color;
  } @else if ($type == "shadow") {
    $property: --tw-shadow-color;
  }

  @each $color, $var in $colorList {
    // Base and opacity classes
    @if (
      string.index($var, "-hover") or
        string.index($var, "-10") or
        string.index($var, "-50")
    ) {
      .#{$prefix}-#{$type}_#{$color}:hover {
        #{$property}: var(--#{$prefix}-#{$var});
      }
    } @else {
      .#{$prefix}-#{$type}_#{$color} {
        #{$property}: var(--#{$prefix}-#{$var});
      }
    }

    // Dark mode variants
    @if not(
      string.index($var, "-hover") or
        string.index($var, "-10") or
        string.index($var, "-50")
    )
    {
      .#{$prefix}-dark-#{$type}_#{$color} {
        @media (prefers-color-scheme: dark) {
          #{$property}: var(--#{$prefix}-#{$var}-dark);
        }
      }
    }
  }
}
